$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$main-text-color: #43c743;
$main-bg-color: #000;
$break-small: 320px;
$break-medium: 767px;
$break-large: 991px;
$break-xl: 1200;

.home {
  h1, .h1 {
    font-size: 68px;
    color: #fff;
    @media(max-width: $break-large) {
      font-size: 58px;
    }
    @media(max-width: $break-medium) {
      font-size: 48px;
    }
    @media(max-width: $break-small) {
      font-size: 38px;
    }
  }
}


.language-switcher {
  a {
    line-height: 50px;
    font-size: 12px;
    opacity: 0.87;
    font-weight: 800;
    color: $main-text-color;
  }
  .active {
    text-decoration: underline;
    opacity: 1.0;
  }
}

.navbar-fixed-top {
  padding: 0;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #000000;
}

.home {
  .section-1 {
    background-image: url('../images/pattern.png');
    min-height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    .container {
      text-align: center;
      align-self: center;
    }
  }
}

.navbar {
  margin-bottom: 0;
}

.uifabric-navbar {
  background-color: $main-bg-color;
  border: none;
  border-radius: 0;
  a {
    color: $main-text-color;
    text-transform: uppercase;
    font-weight: 800;
  }
  li {
    opacity: 0.87;
  }
  .active {
    opacity: 1.0;
  }
  .nav > li > a:hover, .nav > li > a:focus, .nav > li > .active {
    background-color: $main-text-color;
    color: $main-bg-color;
  }
  .active a {
    background-color: $main-text-color;
    color: $main-bg-color;
    opacity: 1.0;
  }
  .navbar-brand {
    color: #fff;
  }
  .navbar-toggle {
    color: $main-text-color;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.home {
  .section-1 {
    p {
      margin-top: 25px;
      color: #fff;
    }
  }
}

.home-keyword {
  font-weight: 800;
}

.footer {
  p {
    margin: 0;
    line-height: 30px;
  }
}
